<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="My personal website">
        <meta name="author" content="Arne Vanderstraeten">
        <title>@ViewBag.Title - Arry's MVC Stuff</title>
        <link rel="icon" href="@Url.Content("~/favicon.ico")" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        @if (ViewBag.HideNav == null || ViewBag.HideNav == false)
        {
            <!-- Navigation -->
            <nav class="navbar navbar-expand-md navbar-custom fixed-top" role="navigation" id="fadingNavbar">
                <div class="container">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="navbar-toggler-icon fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fas fa-play-circle"></i> <span class="light">Arne</span> Vanderstraeten
                    </a>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-main-collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a href="#page-top" class="nav-link"></a>
                            </li>
                            <li>
                                <a class="page-scroll nav-link" href="#professional">Professional</a>
                            </li>
                            <li>
                                <a class="page-scroll nav-link" href="#personal">Personal</a>
                            </li>
                            <li>
                                <a class="page-scroll nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>

        }

        
        @RenderBody()

        <footer>
            <div class="container text-center">
                <p>Copyright &copy; Arne Vanderstraeten - @DateTime.Now.Year</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryEasing")
        @Scripts.Render("~/bundles/bootstrap")
        <script>
            // jQuery to collapse the navbar on scroll
            function collapseNavbar() {
                if ($(".navbar").offset().top > 50) {
                    $(".fixed-top").addClass("top-nav-collapse");
                } else {
                    $(".fixed-top").removeClass("top-nav-collapse");
                }
            }

            $(window).scroll(collapseNavbar);
            $(document).ready(collapseNavbar);

            // jQuery for page scrolling feature - requires jQuery Easing plugin
            $(function () {
                $('a.page-scroll').bind('click', function (event) {
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500, 'easeInOutExpo');
                    event.preventDefault();
                });
            });

            // Closes the Responsive Menu on Menu Item Click
            $('.navbar-collapse ul li a').click(function () {
                $(".navbar-collapse").collapse('hide');
            });
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
